<p id="notice"><%= notice %></p>

<h1>Topics一覧</h1>
<% @topics.each do |topic| %>
  <hr>
  <div class = "profile">
    <%= profile_img(topic.user) if profile_img(topic.user) %>
  </div>
  <% unless topic.user.name == "" %>
    <p>投稿者:<%= topic.user.name %> </p>
  <% else %>
    <p>投稿者:<%= topic.user.email %></p>
  <% end %>
  <p>タイトル:<%= topic.title %></p>
  <%= link_to "詳細", topic_path(topic.id) %>
  <%= link_to "編集", edit_topic_path(topic.id) %>
  <%= link_to "削除", topic_path(topic.id), method: :delete  %>
<% end %>
<hr>

<%= link_to "新規作成", new_topic_path, class: 'btn btn-default btn-sm btn-danger' %>
